
*{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;

}

body{
    /* Need to add the background of the body so that it shows in the background */
    background-color: #dddddd;

}

header{
    background: #ffffff;
    /* display: inline */
    /* margin-top: 0px; */

    /* float: left */
    position: relative;
    /* height: 1px; */
    padding: 38px 0;
    margin: 0;
    /* margin-bottom: 75px; */
    border-bottom: 2px solid #cccccc;
    /* position: fixed; */
}

.box {

    border: 2px;;
    width: 400px;
    position: absolute;
    /* height: 150px;  */
     padding: 20px;
     /* padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 1;  */

}

.Topbox{

    /* width: 240px;
    height: 95px; */
    /* removing the padding and width to see if it makes a difference*/
    /* width: 300px;
    padding: 25px; */
    background: #4aaaa5;
    color: white;
    font-family: 'Georgia', Times, "Times New Roman", serif;
    /*   border: 2px solid black; */
     /* float: left */
    text-align: center;
    top: 0%;
    left: 250px;
    margin: 0%

    

}

.nav{
    /* display: inline */
    /* float: left; */
    top: 0;
    right: 5%
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}

li{
    float: left;
    padding: 16px;
    font: bold;
    /* font-size: 95%; */
    
}

li:hover{
    background-color:#4aaaa5;
    font-weight: bold;
    color: white;
}

/* li a {
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  } */

/* .pbackground{
    float: right;
    background: #dddddd;
    padding: 6%;
    
} */

h2{
    color: #4aaaa5;
}

.AboutBox{
    
    background: #ffffff;
    /* border: 100px solid #dddddd; */
    padding: 1%;
    /* Instead of doing the border around it need to specify the area */
    margin: 0 auto;
    width: 100%;
    max-width: 960px;
    margin-top: 10px;
    margin-bottom: 30px;
    /* Add for flare later */
    /* border-radius: 100px; */
    clear: both;
    /* Checking to see if this will fix the issue so that it goes within the image box */
    position: relative;
    overflow: hidden;
    

}

#Me-image{
    width: 140px;
    height: 203px;
    margin-right: 30px;
    /* Add for flare later */
    border-radius: 100px;
    clear: both;
    border: 3px;
    

}

#Me-image,
#Topic{
    float: left;
    margin-bottom: 1%
  
}

#Topic {
 
}



.footer1 {
    /* background: #4aaaa5;
    padding: 10%;   
    margin: 0%; */
    /* position: relative; */

}

.footer2. {
    /* background: #666666; */
    /* text-align: center; */
    /* margin-right: 10%;
    padding: 25px;
    width: 300px;
    border: 3px solid black; */

}

footer{
    
    /* Can't figure out how to get the padding for he top to come up?*/
    border-top: 10px solid #4aaaa5;
    background-color: #666666;
    /* padding: 20px; */
    /* Sticky Footer!! */
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 4;

   
}
h5{
    
    /* border-top: 25px #4aaaa5; */
    
    text-align: center;
    color: #dddddd;
  
    /* margin:  */

}

/* --------------------------------Contact Additions----------------------------------------------------------------- */

#Name,
#Email{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#Message{
    width: 100%;
    padding: 40px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#button{
    type ="button" onclick="alert('Hello world!')"
}
   
/* --------------------------------Profile Additions----------------------------------------------------------------- */


.img-box {
    width: 280px;
    height: 230px;
    background-color: white;
    border: 2px solid black;
    /* clear: both; */
    /* object-fit: cover;    */
    /* margin: 30px 20px 20px auto; */
    /* margin: 30px 20px 10px auto; */
    
  }

  img{
    width: 280px;
    height: 230px;
    object-fit: cover;
    z-index: 4;  
  }

  .label-box {
    position: absolute;
    width: 280px;
    height: 50px;
    background: #4aaaa5;
    border: 2px;
    text-align: center;
    text-justify: auto;
    /* text: bold; */
    color: white;
    
  }

  /* Issues with having a float as it does not stay in the container of the .about */

  /* #box-set3, */
  /* .port, */
  #box-set1,
  #box-set2{
    /* position: relative;   */
    float: left;
    overflow: auto;
      
  }

  .box-4-1,
  .box-1-1{
     top:260px;
    z-index: 3;
  }

  .box-5-1,
  .box-2-1{
    top:510px;
    z-index: 3;
  }


  .box-3-1{
    bottom: 35px;
    left: 15px;


    /* Trying to show a bottom area that is in the portfolio box a litte more */
    /* margin-bottom: 10px; */
  }  

  .box-6{
      display: none;
  }

  /* ---------------------------Adding the Responsive ------------------------- */

  @media screen and (max-width: 1173px) {
  
    li{    
        float: right;    
    }
    .Topbox{
        top: 0%;
        left: 50px;
        margin: 0%      
    
    }
}

@media screen and (max-width: 1019px) {
  
    li{    
        float: right;
    }

    .Topbox{
        top: 0%;
        left: 50px;
        margin: 0%      
    
    }
}
  
  
  @media screen and (max-width: 980px) {
  
    li{
    float: right;
    }   
  
    .Topbox{
        top: 0%;
        left: 50px;
        margin: 0%      
    
    }


    .AboutBox{
      
        max-width: 560px;
        margin-left: 50px;

    }

  
    .box-1-1{
       top:260px;
      z-index: 3;
    }

    .box-4-1{
       top:1020px;
      z-index: 3;
    }
  

    .box-2-1{
      top:510px;
      z-index: 3;
    }

    .box-5-1{
      top:510px;
      z-index: 3;
    }
  
  
    .box-3-1{
      bottom: 35px;
      left: 15px;

  }
  
  @media screen and (max-width: 768px) {

    li{

    float: right;
    }

       
    .Topbox{
        top: 0%;
        left: 50px;
        margin: 0%;      
    }


    .AboutBox{      
        max-width: 560px;
        margin-left: 50px;
    }
  }

  @media screen and (max-width: 640px) {

    li{
        float: right;
    }
    
    .Topbox{
        top: 0%;
        left: 50px;
        margin: 0%    
    }



    .AboutBox{
        max-width: 560px;
        margin-left: 50px;
    }
    /* #box-set1,
    #box-set2{
   
      float: right;
      overflow: hidden;
        
    } */

    .label-box {
        /* top:460px; */
        background: #6c4aaa;
        /* display: none !important;        */
      }
   
    .box-1-1{
       top:260px;
      z-index: 100;
    }

    .box-4-1{
        /* z-index: -100; */
       /* display: none;  */
       top:400px;
       background: #6c4aaa;
       z-index: 100;
     }

 
/* 
    .box-4-1,
    .box-1-1{
       top:260px;
      z-index: 3;
    } */
  
    .box-5-1,
    .box-2-1{
      top:510px;
      z-index: 3;
    }
  
  
    .box-3-1{
      bottom: 35px;
      left: 15px;
  }

}